@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Overpass", sans-serif;
}

body {
  background-color: hsl(216, 12%, 8%);
  color: #ffffff;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.raiting-container,
.thank-you-container {
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  margin: 0 auto;
  padding: 3.6rem;
  border-radius: 3rem;
  width: 41.2rem;
}

.raiting-container img {
  background-color: #262e38;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}

h1,
h2 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.5rem;
}

h1 {
  margin-bottom: 0.7rem;
}

p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #969fad;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2.1rem;
}

.btn {
  background-color: #262e38;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 50%;
  color: #7c8798;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2px;

  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

.btn:hover {
  background-color: #fc7614;
  color: #ffffff;
  cursor: pointer;
  transition: 0.6s;
}

.btn:focus {
  background-color: #7c8798;
  color: #ffffff;
  transition: 0.6s;
}

.btn-submit {
  background-color: #fc7614;
  border: none;
  border-radius: 2.25rem;
  color: #ffffff;
  padding: 1.1rem 6rem;
  text-transform: uppercase;
  line-height: 1.9rem;
  font-weight: 700;
  font-size: 1.5rem;
  width: 100%;
}

.btn-submit:hover {
  background-color: #ffffff;
  color: #fc7614;
  transition: 0.6s;
  cursor: pointer;
}

.hidden {
  display: none;
}

.thank-you-container img {
  padding-top: 1.5rem;
}

.thank-you-container {
  text-align: center;
}

.thank-you-container p {
  text-align: center;
}

.rate-section {
  margin: 3.2rem 0;
  background-color: #262e38;
  padding: 0.4rem 2rem;
  border-radius: 2.25rem;
  color: #fc7614;
  font-size: 1.5rem;
  display: inline-block;
}

h2 {
  margin-bottom: 1.5rem;
}
